form.contact-form {
  text-align: center;
}

div.formContainer {
  background-color: rgba(255,255,255, 0.3);
  box-shadow: 1px 5px 5px rgba(0,0,0, 0.26);
  border-radius: 2em;
  padding-bottom: 2em;
  padding-top: 2em;
}

input[type=text] {
  text-align: center;
  font-size: 1em;
  padding-top: 0.4em;
  padding-left: 6em;
  padding-right: 6em;
  padding-bottom: 0.4em;
  border: 0;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}

input[type=email] {
  text-align: center;
  font-size: 1em;
  padding-top: 0.4em;
  padding-left: 6em;
  padding-right: 6em;
  padding-bottom: 0.4em;
  border: 0;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}

input[type=phone] {
  text-align: center;
  font-size: 1em;
  padding-top: 0.4em;
  padding-left: 6em;
  padding-right: 6em;
  padding-bottom: 0.4em;
  border: 0;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}

div.formContainer {
  width: 40%;
  margin: 0 auto;
}

div.inputCon {
  padding: 1.5em;
}

textarea {
  width: 600px;
	height: 120px;
	border: 2px solid #cccccc;
	padding: 5px;
	background-position: bottom right;
	background-repeat: no-repeat;
  resize: none;
}

label {
  font-size: 1.1em;
  padding-bottom: 1em;
  display:block;
}
