form.contact-form {
  text-align: center;
}

input[type=text] {
  text-align: center;
  font-size: 1em;
  padding-top: 0.4em;
  padding-left: 6em;
  padding-right: 6em;
  padding-bottom: 0.4em;
  border: 0;
  box-shadow: 0 0 15px 4px rgba(0,0,0,0.06);
}

input[type=email] {
  text-align: center;
  font-size: 1em;
  padding-top: 0.4em;
  padding-left: 6em;
  padding-right: 6em;
  padding-bottom: 0.4em;
  border: 0;
  box-shadow: 0 0 15px 4px rgba(0,0,0,0.06);
}

input[type=phone] {
  text-align: center;
  font-size: 1em;
  padding-top: 0.4em;
  padding-left: 6em;
  padding-right: 6em;
  padding-bottom: 0.4em;
  border: 0;
  box-shadow: 0 0 15px 4px rgba(0,0,0,0.06);
}

div.inputCon {
  padding: 1.5em;
}

textarea {
  width: 90%;
	height: 120px;
	border: 2px solid #cccccc;
	padding: 5px;
	background-position: bottom right;
	background-repeat: no-repeat;
  resize: none;
}

label {
  font-size: 1em;
  padding-bottom: 1em;
  display: block;
  color: rgb(88, 88, 88);
}

div.titleContainer {
  background-image: url("./pexels-burst-374720.jpg");
  padding-top: 1em;
  padding-bottom: 1em;
  border-top-right-radius: 0.5em;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.column {
  float: left;
}

.left {
  width: 20%;
}

.middle {
  width: 60%;
  background-color: rgba(255,255,255, 0.85);
  box-shadow: 1px 5px 5px rgba(0,0,0, 0.26);
  border-radius: 0.5em;
}

.middle-left {
  width: 50%;
}

.middle-right {
  width: 50%;
}

.right {
  width: 20%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.submitButton {
  color: black;
  font-size: 1.2em;
  background: rgba(255, 255, 255, 0.6);
  padding: 10px 20px 10px 20px;
  border: solid black 2px;
  text-decoration: none;
  margin-top: 1em;
  cursor: pointer;
  margin-bottom: 1em;
}

.submitButton:hover {
  color: white;
  font-size: 1.2em;
  background: rgba(0, 0, 0, 1);
}

#pText {
  margin-left: 10em;
  margin-right: 10em;
}

.rightContent {
  color: rgb(88, 88, 88);
}

p#usernameError {
 color: red;
}
