.headText {
  font-size: 8em;
  color: white;
  text-align: right;
  font-weight: normal;
  padding-top: 8%;
  text-shadow: 2px 1px grey;
}

.lowerText {
  text-align: right;
  color: white;
  font-size: 5em;
  font-weight: normal;
  padding-bottom: 0em;
  text-shadow: 2px 1px grey;
}

.hiddenElement {
  width: 100wh;
  height: 100vh;
}

.homeContainer {
  padding-right: 4em;
}

button {
  float: right;
  font-size: 2em;
}

button {
  font-family: Arial;
  color: #black;
  font-size: 20px;
  background: rgba(255, 255, 255, 0.6);
  padding: 10px 20px 10px 20px;
  border: solid black 2px;
  text-decoration: none;
  margin-top: 2em;
}

button:hover {
  background: black;
  text-decoration: none;
  color: white;
}

a {
  text-decoration: none;
  line-height: 2em;
}
