.headText {
  font-size: 8em;
  color: white;
  text-align: right;
  font-weight: normal;
  padding-top: 8%;
  text-shadow: 2px 1px grey;
}

.lowerText {
  text-align: right;
  color: white;
  font-size: 5em;
  font-weight: normal;
  padding-bottom: 0em;
  text-shadow: 2px 1px grey;
}

.homeContainer {
  padding-right: 4em;
}

button.moreButton {
  color: black;
  float: right;
  font-size: 1.2em;
  background: rgba(255, 255, 255, 0.6);
  padding: 10px 20px 10px 20px;
  border: solid black 2px;
  text-decoration: none;
  margin-top: 2em;
  cursor:pointer;
  display: block;
  clear: both;
}

button:hover {
  background: black;
  text-decoration: none;
  color: white;
}

a {
  text-decoration: none;
  line-height: 0.1em;
}

div#alert {
  display: none;
  position: relative;
}

#secretPopup {
  width: 50%;
  height: 50%;
  position: absolute;
  top: 50%;
  left: 30%;
  margin-top: -50px;
  margin-left: -100px;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  transition: opacity 2s;
  opacity: 0;
  text-align: center;
}

#secretMessage {
  padding-top: 13%;
}

#lowerText {
  transition: opacity 1s;
}

#headText {
  transition: opacity 1s;
}

#moreButton {
  transition: opacity 1s;
}
