.navPic {
  border-radius: 50%;
  width: 3%;
  height: 50px;
  width: 50px;
  margin-left: 0.5em;
  box-shadow: 2px 1px rgba(59, 59, 59, 0.2);
}

.navPic:hover {
  animation: pulse 1.5s infinite;
}

a:visited {
  color: black;
}

a:hover {
  color: grey;
}

ul#navbar {
  list-style-type: none;
  font-size: 1.1em;
  padding-top: 1em;
  margin-top: 0em;
}

.rightNav {
  display: flex;
  float: right;
  padding-right: 2em;
}

.rightNav > li {
  padding-right: 3em;
  text-shadow: 0.1px 0.1px rgba(255, 255, 255, 0.1);
}
