.card-wrapper1, .card-wrapper3, .card-wrapper5 {
  border: solid black 1px;
  border-radius: 0.3em;
  width: 30%;
  float: left;
  padding: 2rem;
  margin: 4rem;
  height: 12rem;
  box-shadow: 5px 10px rgba(191, 190, 190, 0.40);
  background-image: url("./WEBSITE.jpg");
  background-color: #cccccc;
}

.card-wrapper2, .card-wrapper4, .card-wrapper6 {
  border: solid black 1px;
  border-radius: 0.3em;
  float: right;
  width: 30%;
  padding: 2rem;
  margin: 4rem;
  height: 12rem;
  box-shadow: 5px 10px rgba(191, 190, 190, 0.40);
  background-image: url("./WEBSITE.jpg");
  background-color: #cccccc;
}

.card-content1, .card-content2, .card-content3, .card-content4, .card-content5, .card-content6 {
  display: none;
}

.card-button1:hover {
  filter: blur(1px);
}

div#rightTitle h1 {
  font-size: 10em;
  color: white;
  text-align: center;
  font-weight: normal;
  text-shadow: 2px 1px grey;
  position: fixed;
  top: 1em;
}

.wrapper {
  width: 100%;
}

div#rightTitle {
  width: 40%;
  float: right;
}

div#leftCards {
  width: 60%;
  float: left;
}

.card-content {
  display: none;
}
