html * {
  font-family: 'Playfair Display', serif;
}

html {
  background-image: url("./back-image.jpg");
  background-repeat: repeat;
  background-size: cover;
  width: 100%;
  padding: 0;
  margin: 0;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  height: 160vh;
}

body {
  margin: 0;
  height: 100vh;
  overflow: visible;
}

div#root, div.content, div.main, div.contain, div#hiddenElement, div.contentContainer, div.homeContainer{
  height: 100vh;
}

footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding-left: 1em;
  padding-bottom: 1em;
  width: 20%;
  text-align: center;
  transition: fa
}

.footerContainer {
  width: 13%;
  text-align: center;
  background-color: rgba(255,255,255, 0.5);
  border-radius: 1.875rem;
}

.footerContainer, a.socialA {
  margin: 0;
  line-height: 0;
}

div.contentContainer {
  width: 100%;
  height: 100vh;
}

div.main {
  height: 100vh
}
