html * {
  font-family: 'Playfair Display', serif;
}

html {
  background-image: url("./back-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  margin: 0;
}

body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

div#blur {
  z-index: 0;
  position: relative;
}

div#root, div#blur, div.content, div.main, div.contain, div#hiddenElement, div.contentContainer, div.homeContainer{
  height: 100%;
}
