#navbar {
  text-align: center;
  list-style-type: none;
  padding-left: 0px;
}

#NavHome #NavAbout #NavContact {
  text-decoration: none;
  color: green;
}

.main {
  overflow: hidden;
}

.main > * {
  display: flex;
  flex-wrap: wrap;
  margin: calc(var(--s1) / 2 * -1);
}

.main > * > * {
  margin: calc(var(--s1) / 2);
  flex-basis: 20em;
  flex-grow: 1em;
}

.main > * > :last-child {
  flex-basis: 0em;
  flex-grow: 999;
  min-width: calc(50% - var(--s1));
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
